{{> header}}
<div class="banner-container">
    <img src="/images/egi_lobby.jpeg" alt="None">
    <div class="catchline-container">
        <h1 >Dive into Delight:  Exploring and Savoring 
        EGI Taft Tower’s Food Treasures!</h1>
        <p>Embark on a tasty journey and discover awesome places to eat! This guide will help you find the perfect spots to satisfy your hunger and make your taste buds really happy. Explore delicious foods that go beyond the ordinary, guiding you to the best places that not only fill your cravings but also make your taste buds super excited. Let this guide be your buddy, helping you find the most delicious spots and turning every meal into a tasty memory!</p>
    </div>
</div>

<p class="reviews-title-placeholder">Explore the Hidden Gems of EGI</p>
<div class="parent-div">
    {{> left-section}}

    {{> right-section}}
</div>

<div class="popup-login">
    {{> popup-login}}
</div>

<div class="popup-signup">
    {{> popup-signup}}
</div>

{{> footer}}