{{> header}}
<div class="whole">
    {{> checkmark}}
    <div class="main-list">
        {{> establishments}}
    </div>
</div>

<div class="popup-login">
    {{> popup-login}}
</div>

<div class="popup-signup">
    {{> popup-signup}}
</div>

{{> footer}}
