
<!--LEFT SECTION-->

<div class="left-section">
    <div class="imgdiv">
        <img id="display-img-resto" src="{{restoData.[0].restoPic}}" alt="None" />
    </div>
    <div class="buttondiv">
        <button id="previous-button" class="bold">Previous</button>
        <span
        id="firstdot"
        class="dot active"
        onclick="currentSlide(1)"
        ></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <button id="next-button" class="bold">Next</button>
    </div>
</div>

